{% extends 'WindBookofdreamsBundle:Default:base.html.twig' %}

{% block body -%}
	<div class="text-center">
		<a style="display: inline-block; margin: 2px;" class="btn btn-primary btn-xs" href="{% if page >= 0 %}{{ path('bookofdreams_tag', { 'page': page - 1 }) }}{% else %}{{ path('bookofdreams_tag', { 'page': 0 }) }}{% endif %}">Назад</a>
		Страница:{{ page + 1 }} (Всего:{{ count + 1}})
		<a style="display: inline-block; margin: 2px;" class="btn btn-primary btn-xs" href="{% if page < count %}{{ path('bookofdreams_tag', { 'page': page + 1 }) }}{% else %}{{ path('bookofdreams_tag', { 'page': count }) }}{% endif %}">Вперед</a>
	</div>
    <h1 class="text-center">Тэги</h1>

	<a class="btn btn-success btn-block" style="margin: 10px 0;" href="{{ path('bookofdreams_tag_new') }}">
		Добавить
	</a>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Тэг</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td><a class="btn btn-link" href="{{ path('bookofdreams_tag_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
				<td>
					<a style="display: inline-block; margin: 2px;" class="btn btn-default btn-sm" href="{{ path('bookofdreams_tag_show', { 'id': entity.id }) }}">Показать</a>
					<a style="display: inline-block; margin: 2px;" class="btn btn-default btn-sm" href="{{ path('bookofdreams_tag_edit', { 'id': entity.id }) }}">Редактировать</a>
				</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

	<a class="btn btn-success btn-block" href="{{ path('bookofdreams_tag_new') }}">
		Добавить
	</a>
	<br />
	<div class="text-center">
		<a style="display: inline-block; margin: 2px;" class="btn btn-primary btn-xs" href="{% if page >= 0 %}{{ path('bookofdreams_tag', { 'page': page - 1 }) }}{% else %}{{ path('bookofdreams_tag', { 'page': 0 }) }}{% endif %}">Назад</a>
		Страница:{{ page + 1 }} (Всего:{{ count + 1}})
		<a style="display: inline-block; margin: 2px;" class="btn btn-primary btn-xs" href="{% if page < count %}{{ path('bookofdreams_tag', { 'page': page + 1 }) }}{% else %}{{ path('bookofdreams_tag', { 'page': count }) }}{% endif %}">Вперед</a>
	</div>
    {% endblock %}
