{% extends 'WindBookofdreamsBundle:Default:base.html.twig' %}

{% block body -%}
    <h1>Тэги</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Тэг</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td><a class="btn btn-link" href="{{ path('bookofdreams_tag_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>
                <ul>
                    <li style="display: inline-block;list-style: none;">
                        <a class="btn btn-default" href="{{ path('bookofdreams_tag_show', { 'id': entity.id }) }}">Показать</a>
                    </li>
                    <li style="display: inline-block;list-style: none;">
                        <a class="btn btn-default" href="{{ path('bookofdreams_tag_edit', { 'id': entity.id }) }}">Редактировать</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li style="display: inline-block;list-style: none;">
            <a class="btn btn-lg btn-success" href="{{ path('bookofdreams_tag_new') }}">
				Добавить
            </a>
        </li>
    </ul>
    {% endblock %}
