{% extends 'WindBookofdreamsBundle:Default:base.html.twig' %}

{% block body -%}
    <h1>Добавить тэг</h1>

	{{ form_start(form, {'attr': {'class': 'form-horizontal','style': 'width: 300px;'}}) }}
	{{ form_errors(form, {'attr': {'class': 'bg-danger'}}) }}

	<div class="form-group">
		<div class="col-sm-10">
			{{ form_label(form.name) }}
		</div>
		<div class="col-sm-10">
			{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>

	<div class="col-10">
		{{ form_widget(form.submit, {'attr': {'class': 'btn btn-success'}}) }}
	</div>

	<div class="col-10" style="margin-top: 10px;">
		<a class="btn btn-info" href="{{ path('bookofdreams_tag') }}">
			Вернуться к списку
		</a>
	</div>
	{{ form_end(form) }}
{% endblock %}
