<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>{% block title %}Welcome!{% endblock %}</title>
	{% block stylesheets %}{% endblock %}
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	<!-- Bootstrap -->
	<script src="{{ asset('bundles/windbookofdreams/js/jquery.min.js') }}"></script>
	<link href="{{ asset('bundles/windbookofdreams/css/bootstrap.css') }}" rel="stylesheet" media="screen">
</head>
<body>
<div class="container">
	<h3 class="bg-info text-center">
		Сонник
	</h3>
	<div class="table" style="margin-top: 20px;">
		<a class="btn btn-default btn-sm {% if 'bookofdreams/word' in app.request.uri %}active{% endif %}" href="{{ path('bookofdreams_word') }}">Слова</a>
		<a class="btn btn-default btn-sm {% if 'bookofdreams/tag' in app.request.uri %}active{% endif %}" href="{{ path('bookofdreams_tag') }}">Тэги</a>
		<a class="btn btn-default btn-sm {% if 'bookofdreams/text' in app.request.uri %}active{% endif %}" href="{{ path('bookofdreams_text') }}">Тексты</a>
	</div>
	{% block body %}{% endblock %}
</div>
<!-- Include all JavaScripts, compiled by Assetic -->
<script src="{{ asset('bundles/windbookofdreams/js/bootstrap.js') }}"></script>
</body>
</html>