{% extends 'WindBookofdreamsBundle:Default:base.html.twig' %}

{% block body -%}
    <h1>Тексты</h1>
	{% if filter is not empty %}
		<h4 style="padding: 5px;" class="bg-warning">Фильтр по "{{ filter }}"</h4>
	{% endif %}

	<a class="btn btn-lg btn-success" style="margin: 10px 0;" href="{{ path('bookofdreams_text_new') }}">
		Добавить
	</a>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Текст</th>
                <th>Слова</th>
                <th>Тэги</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>
					<a class="btn btn-link" href="{{ path('bookofdreams_text_show', { 'id': entity.id }) }}" style="max-width: 500px; white-space: normal;">
						{{ entity.text|slice(0, 150) ~ '...' }}
					</a>
				</td>
				<td>
					{% for word in entity.words %}
						<a class="btn btn-info btn-xs" style="margin: 2px;" href="{{ path('bookofdreams_text_by_word', { 'id': word.id }) }}">{{ word.name }}</a>
					{% endfor %}
				</td>
				<td>
					{% for tag in entity.tags %}
						<a class="btn btn-info btn-xs" style="margin: 2px;" href="{{ path('bookofdreams_text_by_tag', { 'id': tag.id }) }}">{{ tag.name }}</a>
					{% endfor %}
				</td>
                <td>
					<a style="display: inline-block; margin: 2px;" class="btn btn-default btn-sm" href="{{ path('bookofdreams_text_show', { 'id': entity.id }) }}">Показать</a>
					<a style="display: inline-block; margin: 2px;" class="btn btn-default btn-sm" href="{{ path('bookofdreams_text_edit', { 'id': entity.id }) }}">Редактировать</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	<a class="btn btn-lg btn-success" href="{{ path('bookofdreams_text_new') }}">
		Добавить
	</a>
    {% endblock %}
